form {
  li.radio {
    padding-left: 0 !important;
  }

  li {
    list-style-type: none;
    label {
      width: 130px;
      color: black !important;
      background-color: white !important;
    }

    fieldset {
      display: inline-block !important;
      ol {
        display: inline-block !important;
        li {
          display: inline-block !important;
        }
      }

      legend.label {
        background-color: white !important;
        border: none;
        display: inline-block !important;
      }
    }
  }
  label {
    font-size: 12px;
    font-weight: bold;
    width: 130px;
    color: black !important;
    background-color: white !important;
    padding-left: 4px;

  }
}

.btn {
  margin-top: 5px;
}

#page_parent_id_input {
  padding-top: 10px;
}

.left {
  float: left;
}